In [6]:
!pip install mysql

Requirement already satisfied: mysql in c:\programdata\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\programdata\anaconda3\lib\site-packages (from mysql) (2.0.3)

In [7]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.26)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [2]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000026CE087EA00>

In [3]:
mycursor=mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('bank',)
('book_shop',)
('datatrained',)
('dhara',)
('mysql',)
('performance_schema',)
('sakila',)
('school',)
('shoe_billing',)
('student',)
('test',)
('world',)

In [4]:
mycursor=mydb.cursor()

mycursor.execute("Create database Datatrained")

DatabaseError: 1007 (HY000): Can't create database 'datatrained'; database exists

In [ ]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="datatrained"
)

mycursor=mydb.cursor()

mycursor.execute("Create table school(gender varchar(6),student_id int(10),marks int(3))")

In [5]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="datatrained"
)

mycursor=mydb.cursor()
mycursor.execute("show tables")
for i in mycursor:
    print(i)

('school',)

In [13]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="datatrained"
)

mycursor=mydb.cursor()
sql="insert into school values('M',12,59)"
mycursor.execute(sql)
mydb.commit() #use to store data permenantly
print(mycursor.rowcount,"Record Inserted") #rowcount is used for count how many rows are inserted.

1 Record Inserted

In [15]:
# insert multiple records
sql="insert into school (gender,student_id,marks) values(%s,%s,%s)"
val=(("Male",13,58),("female",14,90),("Male",15,95))
mycursor.executemany(sql,val)
mydb.commit() #use to store data permenantly
print(mycursor.rowcount,"Record Inserted") #rowcount is used for count how many rows are inserted.

3 Record Inserted

In [16]:
#How to load external data into the table
#As we are not connected to any server or external system so it allow us to access file within the local system

mycursor.execute("show variables like 'local_infile'")
for x in mycursor:
    print(x)

('local_infile', 'ON')

In [18]:
mycursor.execute("SET GLOBAL local_infile="ON")  
                 #if local_infile is off then write this line code

SyntaxError: invalid syntax (<ipython-input-18-c5fa80d928e2>, line 1)

In [13]:
mycursor.execute("show variables like 'local_infile'")
for x in mycursor:
    print(x)

('local_infile', 'ON')

In [21]:
mycursor.execute("Show variables like 'secure_file_priv'")
for x in mycursor:
    print(x)

('secure_file_priv', 'C:\\ProgramData\\MySQL\\MySQL Server 5.5\\Uploads\\')

In [23]:
#copy this path in run menu

In [14]:
mycursor.execute('select * from school')
for x in mycursor:
    print(x)

ProgrammingError: 1146 (42S02): Table 'school.school' doesn't exist

In [ ]:
Code that load data from csv to SQL TABLE into python

In [47]:
da="LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 5.5/Uploads/d1.csv' \
INTO TABLE school FIELDS TERMINATED BY ',' ENCLOSED BY '""' LINES TERMINATED BY '\n' IGNORE 1 LINES;"
mycursor.execute(da)
mydb.commit()

In [48]:
mycursor.execute('select * from school')
for x in mycursor:
    print(x)

('M', 12, 59)
('Male', 13, 100)
('female', 14, 90)
('Male', 15, 95)
('d', 34, 90)
('d', 34, 90)

In [27]:
mycursor.execute('select * from school')
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('M', 12, 59)
('Male', 13, 58)
('female', 14, 90)
('Male', 15, 95)

In [28]:
sql="select distinct * from school where student_id=12"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('M', 12, 59)

In [29]:
sql="select * from school order by marks"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('Male', 13, 58)
('M', 12, 59)
('female', 14, 90)
('Male', 15, 95)

In [36]:
sql="update school set marks=100 where student_id=13"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount,"Record Updated")

1 Record Updated

In [ ]:
sql="drop table school"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount,"Table Deleted")

In [ ]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
)
sql="Drop database datatrained"
mycursor.execute(sql)

In [44]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="school"
)

mycursor=mydb.cursor()
mycursor.execute("show tables")
for i in mycursor:
    print(i)

('activity',)
('coach',)
('dept',)
('empl',)
('student11',)

In [16]:
mycursor.execute("select * from dept")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

(10, 'Accounting', 'New Delhi')
(20, 'Reserch', 'Chennai')
(30, 'Sales', 'Kolkata')
(40, 'Operations', 'Mumbai')
(50, 'Marketing', 'Banglore')
(60, 'Production', 'Ahmedabad')

In [23]:
#INNER JOIN matches each row in one table with every row in other tables and allow you to query
#rows that contain columns from both tables
mycursor.execute("select dept.deptno,empl.ename from dept inner join empl on dept.deptno=empl.deptno")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

(20, 'Smith')
(30, 'Anya')
(30, 'Seth')
(20, 'Mahadevan')
(30, 'Momin')
(30, 'Bina')
(10, 'Amir')
(30, 'Kuldeep')
(10, 'Shivansh')
(10, 'Mita')

In [42]:
#INNER JOIN matches each row in one table with every row in other tables and allow you to query
#rows that contain columns from both tables
mycursor.execute("select dept.deptno,empl.ename from dept inner join empl on dept.deptno=empl.deptno")
myresult=mycursor.fetchone()
for x in myresult:
    print(x)

20
Smith

In [45]:
#Right Join will return matching and non matching rows
mycursor.execute("select dept.deptno,empl.ename from empl right join dept on dept.deptno=empl.deptno")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

(10, 'Amir')
(10, 'Shivansh')
(10, 'Mita')
(20, 'Smith')
(20, 'Mahadevan')
(30, 'Anya')
(30, 'Seth')
(30, 'Momin')
(30, 'Bina')
(30, 'Kuldeep')
(40, None)
(50, None)
(60, None)

In [8]:
import pandas as pd
df=pd.read_sql_query("select * from school",mydb)
df

   gender  student_id  marks
0       M          12     59
1    Male          13    100
2  female          14     90
3    Male          15     95
4       d          34     90
5       d          34     90