In [3]:
l=[]
l.append('b')
l.append('c')
l

['b', 'c']

In [4]:
!pip3 install jedi==0.17.2

Collecting jedi==0.17.2

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\jedi-0.17.1.dist-info\\AUTHORS.txt'
Consider using the `--user` option or check the permissions.

  Downloading jedi-0.17.2-py2.py3-none-any.whl (1.4 MB)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from jedi==0.17.2) (0.7.0)
Installing collected packages: jedi
  Attempting uninstall: jedi
    Found existing installation: jedi 0.17.1
    Uninstalling jedi-0.17.1:

In [5]:
l.insert(0,45)
l

[45, 'b', 'c']

In [6]:
l.insert(2,'dhara')
l

[45, 'b', 'dhara', 'c']

In [7]:
l=['Hello',12,23.5]
l

['Hello', 12, 23.5]

In [8]:
len(l) #show length of list means number of data

3

# Indexing and slicing

In [22]:
my_list=[34,23,2,55,78,2,2]
my_list[3]

55

In [23]:
my_list[4]=200
my_list

[34, 23, 2, 55, 200, 2, 2]

In [12]:
my_list[1:]

[23, 2, 55, 200]

In [13]:
my_list[:2]

[34, 23]

In [14]:
my_list[2:4]      #ending position excluded and starting position included

[2, 55]

In [16]:
my_list+['new item']         # does not change original list

[34, 23, 2, 55, 200, 'new item']

In [17]:
my_list

[34, 23, 2, 55, 200]

In [24]:
my_list=my_list+['new item']
my_list

[34, 23, 2, 55, 200, 2, 2, 'new item']

In [19]:
my_list*2

[34, 23, 2, 55, 200, 'new item', 34, 23, 2, 55, 200, 'new item']

In [25]:
#count is used for find how many same data are there
my_list.count(2)

3

In [26]:
#extends list by appending elements from iterable

In [28]:
my_list.index(200)

4

In [5]:
my_list1=[5,3,2,8]
my_list1.reverse()
my_list1

[8, 2, 3, 5]

In [9]:
#set removes the duplicates and keep in ascending order
l=[1,2,2,3,1,4,5,4,6,5,7,8]
l1=list(set(l))
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
#sort the data
l2=[12,45,11,23]
l2.sort()
print(l2)
l2.sort(reverse=True)
print(l2)

[11, 12, 23, 45]
[45, 23, 12, 11]

In [15]:
x=set()
x.add(1)
x

{1}

In [16]:
set(l1)

{1, 2, 3, 4, 5, 6, 7, 8}

# Tuple

In [18]:
t=(1,4,2)
t

(1, 4, 2)

In [19]:
type(t)

tuple

In [20]:
var=list(t)      #convert into list

In [21]:
type(t)

tuple

In [25]:
type(var)

list

In [24]:
var

[1, 4, 2]

In [26]:
tuple(var)   #convert into tuple

(1, 4, 2)

In [27]:
len(t)

3

In [34]:
t=('one',2,3.3,3.3,3.3)       #hold any type of data
t

('one', 2, 3.3, 3.3, 3.3)

In [29]:
t[0]    #indexing like list

'one'

In [30]:
t[:2] #slicing

('one', 2)

In [31]:
t[-2]

2

In [32]:
t.index('one')

0

In [35]:
t.count(3.3)

3

In [37]:
sales=[100,150,200,100,140,210,120]
income_till_date=0
for val in sales:
    income_till_date=income_till_date+val
    print("income till date===>",income_till_date)
    
print("The weekly income is====>",income_till_date)

income till date===> 100
income till date===> 250
income till date===> 450
income till date===> 550
income till date===> 690
income till date===> 900
income till date===> 1020
The weekly income is====> 1020

In [38]:
location=['Bangluru','Noida','Delhi','MP']
for city in location:
    print(city)

Bangluru
Noida
Delhi
MP

In [39]:
digit=[10,20,30]
for i in digit:
    print(i)
else:
    print("No data left")

10
20
30
No data left

In [40]:
n=10
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
    print("sum=",sum)
    
print("The sum=",sum)

sum= 1
sum= 3
sum= 6
sum= 10
sum= 15
sum= 21
sum= 28
sum= 36
sum= 45
sum= 55
The sum= 55